<div class="input-group" style="padding-bottom:20px">
  <input type="text" class="form-control" placeholder="New section name">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Add</button>
  </span>
</div>

<ul class="list-group">
  <li *ngFor="let section of sections" [ngClass]="{active:section==activeSection }" (click)="showSection(section)"
    class="list-group-item">
    {{section}}
  </li>

</ul>
