<div>
  <h1>
    {{title}}
  </h1>
  <br>
  <div class="form-group">
    <label for="noteInput">Новая заметка</label>
    <input type="text" placeholder="Текст заметки" class="form-control" [(ngModel)]="note" #noteInput>
    <button type="button" class="btn btn-primary btn-right" (click)="inputNoteClick(noteInput.value)">Добавить</button>
  </div>

  <div [ngStyle]="{color: 'red'}" [hidden]="!(notes.length < 3)">
    У нас мало заметок!!!
  </div>
  <div [ngStyle]="{color: 'green'}" *ngIf="notes.length > 3">
    У нас много заметок!!!
  </div>
  <div [ngStyle]="{color: 'green'}">
    <label>Текущая секция {{section}}</label>
  </div>
  <div class="table-container">

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th style="width: 10%" scope="col">#</th>
          <th style="width: 10%" scope="col">ИД</th>
          <th style="width: 60%" scope="col">Заметки</th>
          <th style="width: 10%" scope="col">Порядок</th>
          <th style="width: 10%" scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes, let i=index">
          <th scope="row">{{i}}</th>
          <td>
            {{note.id}}
          </td>
          <td>
            {{note.text}}
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="downNoteClick(i)">
              <img src="../../assets/arrow-down-short.svg" />
            </button>
            &nbsp;
            <button type="button" class="btn btn-info" (click)="upNoteClick(i)">
              <img src="../../assets/arrow-up-short.svg" />
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeNoteClick(note.id)">
              <img src="../../assets/trash.svg" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<router-outlet></router-outlet>
