<div class="content" role="main">
  <div>Лог: {{logs}}</div>
  <app-sections (sectionChanged)="setSection($event)"></app-sections>
  <note-list [section]="section" (newNoteEvent)="addItem($event)" (delNoteEvent)="delItem($event)"></note-list>
</div>

<router-outlet></router-outlet>
